:root {
  --ion-color-primary: #ff6f61;
  --ion-color-primary-rgb: 255, 111, 97;
  --ion-color-primary-contrast: #1c1c1c;
  --ion-color-primary-contrast-rgb: 28, 28, 28;
  --ion-color-primary-shade: #e06255;
  --ion-color-primary-tint: #ff7e73;

  --ion-color-secondary: #daa520;
  --ion-color-secondary-rgb: 218, 165, 32;
  --ion-color-secondary-contrast: #1c1c1c;
  --ion-color-secondary-contrast-rgb: 28, 28, 28;
  --ion-color-secondary-shade: #c0901c;
  --ion-color-secondary-tint: #dfb038;

  --ion-color-tertiary: #f5e8d8;
  --ion-color-tertiary-rgb: 245, 232, 216;
  --ion-color-tertiary-contrast: #1c1c1c;
  --ion-color-tertiary-contrast-rgb: 28, 28, 28;
  --ion-color-tertiary-shade: #d8ccbe;
  --ion-color-tertiary-tint: #f6eadc;

  --ion-color-success: #74c69d;
  --ion-color-success-rgb: 116, 198, 157;
  --ion-color-success-contrast: #1c1c1c;
  --ion-color-success-contrast-rgb: 28, 28, 28;
  --ion-color-success-shade: #66ae8a;
  --ion-color-success-tint: #82cca7;

  --ion-color-warning: #daa520;
  --ion-color-warning-rgb: 218, 165, 32;
  --ion-color-warning-contrast: #1c1c1c;
  --ion-color-warning-contrast-rgb: 28, 28, 28;
  --ion-color-warning-shade: #c0901c;
  --ion-color-warning-tint: #dfb038;

  --ion-color-danger: #ff6f61;
  --ion-color-danger-rgb: 255, 111, 97;
  --ion-color-danger-contrast: #1c1c1c;
  --ion-color-danger-contrast-rgb: 28, 28, 28;
  --ion-color-danger-shade: #e06255;
  --ion-color-danger-tint: #ff7e73;

  --ion-color-medium: #7a7a7a;
  --ion-color-medium-rgb: 122, 122, 122;
  --ion-color-medium-contrast: #f5e8d8;
  --ion-color-medium-contrast-rgb: 245, 232, 216;
  --ion-color-medium-shade: #6b6b6b;
  --ion-color-medium-tint: #878787;

  --ion-color-light: #2a2a2a;
  --ion-color-light-rgb: 42, 42, 42;
  --ion-color-light-contrast: #f5e8d8;
  --ion-color-light-contrast-rgb: 245, 232, 216;
  --ion-color-light-shade: #252525;
  --ion-color-light-tint: #3f3f3f;
}

body {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}
